<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/trangchu">
        <img src="/images/logo-footer.png" alt="logo" style="width:90%;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/lichhen"> <span class="fas fa-calendar"></span> Lịch hẹn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/khachhang"><span class="fas fa-id-card"></span> Khách hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/thongke"><span class="fas fa-donate"></span> Thống kê</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/toc"><span class="fas fa-folder-open"></span> Quản lý tóc</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/products"><span class="fas fa-paperclip"></span> Quản lý sản phẩm</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout"><span class="fas fa-user-secret"></span> Đăng xuất</a>
        </li>
    </ul>


</nav>

<div class="productdetails">
    <div class="container-fluid mt-5 pt-5 productDetail">
        <h1 class="text-light text-center pt-5 pb-5">Products Details</h1>
        <div class="row">
            <div class="col-md-2">

            </div>

            <div class="col-md-8">
                <form enctype="multipart/form-data" action="/products/update/{{product.id}}" method="POST" class="p-4 productsdetails-form">
                    <div class="form-group">
                        <label class="text-light" for="name">Product Name:</label>
                        <input name="name" value="{{product.name}}" type="text" class="form-control" id="name"
                            placeholder="DHELS">
                    </div>
                    <div class="form-group">
                        <label class="text-light" for="cost">Product cost :</label>
                        <input type="text" name="cost" class="form-control" value="{{product.cost}}" id="cost">
                    </div>

                    <div class="form-group">
                        <label class="text-light" for="date">Product date:</label>
                        <input value="{{product.date}}" name="date" type="date" class="form-control" id="date">
                    </div>

                    <div class="form-group">
                        <label for="brand" class="text-light">Product brand</label>
                        <select class="form-control" name="brand" style="padding:0 0.75rem" id="brand">
                            {{#each brand}}
                            {{#if (sosanh this.id ../product.brand)}}
                            <option selected value="{{this.id}}">{{this.name}}</option>
                            {{else}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/if}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="img" class="text-light">Chọn ảnh: </label>
                        <img width="170px" height="170px" src="{{product.img}}" id="imgsrc">
                        <input type="file" name="img" id="img" value="{{product.img}}" onchange="onchangeImg()"
                            class="form-control-file border text-light">
                    </div>


                    <button type="submit" class="btn btn-primary btn-productdetails">Sửa</button>
                </form>
            </div>

            <div class="col-md-2"></div>

        </div>
    </div>
</div>

<script>
     const onchangeImg = () => {
    var file = document.getElementById('img').files[0];
    var imgsrc = document.getElementById('imgsrc');
    var imgadd = document.getElementById('imgadd');
    var reader = new FileReader();
    reader.onload= (e) =>{
      imgsrc.src = e.target.result;
    }
    reader.readAsDataURL(file);


  }
</script>

<script>
  //Validate name
  let isNameValid = isDate = isCostValid = false;
  const validateName = () => {
    let val = document.getElementById('name').value;
    if (!val || val.trim().length == 0 || val.trim().length > 100) {
      alert("Name isvalid");
      isNameValid = false;
    }
    else {
      isNameValid = true;
    }
    validateForm();
  }

  //Validate cost
  const validateCost = () => {
    var val,
      element = document.getElementById('cost');
    if (element != null) {
      val = element.value;
    }
    else {
      val = null;
    }
    if (!val || val.trim().length == 0 || val.trim() <= 0) {
      alert("Cost isvalid");
      isCostValid = false;
    }
    else {
      isCostValid = true;
    }
    validateForm();
  }

  //Validate day
  const validateDate = () => {
    let val = document.getElementById('date').value;
    let _date = new Date(val);

    let _today = new Date();
    _today.setHours(0, 0, 0, 0);

    if (!val || _date > _today) {
      alert("Date isvalid");
      isDate = false;
    }
    else {
      isDate = true;
    }

    validateForm();
  }

  const validateForm = () => {
    if (!isNameValid || !isDate || !isCostValid) {
      document.getElementById('btn-submit').disabled = true;
    }
    else {
      document.getElementById('btn-submit').disabled = false;
    }
  }


</script>