<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/trangchu">
        <img src="/images/logo-footer.png" alt="logo" style="width:90%;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/lichhen"> <span class="fas fa-calendar"></span> Lịch hẹn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/khachhang"><span class="fas fa-id-card"></span> Khách hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/thongke"><span class="fas fa-donate"></span> Thống kê</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/toc"><span class="fas fa-folder-open"></span> Quản lý tóc</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/products"><span class="fas fa-paperclip"></span> Quản lý sản phẩm</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout"><span class="fas fa-user-secret"></span> Đăng xuất</a>
        </li>
    </ul>


</nav>

<div class="productdetails">
    <div class="container-fluid mt-5 pt-5 productDetail">
        <h1 class="text-light text-center pt-5 pb-5">Products Details</h1>
        <div class="row">
            <div class="col-md-2">

            </div>

            <div class="col-md-8">
                <form action="/products/update/{{product.id}}" method="POST" class="p-4 productsdetails-form">
                     <div class="form-group">
                        <label class="text-light" for="idtoc">Product ID:</label>
                        <input name="name" value="{{product.name}}" type="text" class="form-control" id="idtoc" placeholder="DHELS">
                    </div>
                    <div class="form-group">
                        <label class="text-light" for="kieutoc">Product cost :</label>
                        <input type="text" name="cost" class="form-control" value="{{product.cost}}" id="kieutoc">
                    </div>

                    <div class="form-group">
                        <label class="text-light" for="fileanh">Product date:</label>
                        <input value="{{product.date}}" name="date" type="date" class="form-control" id="fileanh">
                    </div>

                    <div class="form-group">
                        <label for="brand" class="text-light">Product brand</label>
                        <select class="form-control" name="brand" style="padding:0 0.75rem" id="brand">
                            {{#each brand}}
                                {{#if (sosanh this.id ../product.brand)}}
                                    <option selected value="{{this.id}}">{{this.name}}</option>
                                {{else}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>

                
                    <button type="submit" class="btn btn-primary btn-productdetails">Sửa</button>
                </form>
            </div>

            <div class="col-md-2"></div>

        </div>
    </div>
</div>

