<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-8">
      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>name</th>
            <th>Mobile</th>
            <th>ClassId</th>
            <th>Dob</th>
            <th>Avarta</th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.mobile}}</td>
            <td class="center">{{this.classId}}</td>
            <td>{{this.dob}}</td>
            <td class="center">{{this.avarta}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="col-md-"></div>

  </div>
</div>